h1 {
    color: rgba(170, 4, 241, 0.817);
}
/*property : value*/
#home-intro{
    text-align: center;
    /*border: 3px;
    border-color:black;
    border-style: solid;*/
    border:3px solid rgb(25, 62, 180);
}
#home-intro:hover{
    background-color: rgb(224, 235, 235);
}
#p1{
    color: rgb(12, 186, 230);
}
#p2{
    color: rgb(230, 117, 12);
}
#nav{
    text-align: center;
    background-color: rgb(52, 11, 201);
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
}
#nav a{
    margin: 0px 5px;
    /*margin : y  x*/
    text-decoration: none;
    color: white;

}
#card-img{
    width: 300px;
    height: 300px;
    align-items: center;
    margin: 0px auto;
}
#card { 
    align-items: center;    
    margin-top: 5px;
    border: 3px solid black;
    width: 300px;
    height: 580px;
    margin : 3px auto;
    border-radius: 10px;
}
#img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}
#action{
    text-align: center;
    
}
button{
    width: 100%;
}

