h1 {
    color: darkmagenta;
}

#home-intro{
    text-align: center;
    /*border: 3px;
    border-color:black;
    border-style: solid;*/
    border:3px solid rgb(25, 62, 180);
}
#home-intro:hover{
    background-color: rgb(65, 111, 109);
}
#p2{
    color: rgb(128, 159, 17);
}
#nav{
    text-align: center;
    background-color: rgb(94, 4, 80);
    height: 25px;
    padding-top: 5px;
}
#nav a{
    margin: 0px 5px;
    /*margin : y  x*/
    text-decoration: none;
    color: white;

}